NEXT_PUBLIC_SITE_URL=https://boulangerie-du-kreisker.fr
POSTMARK_SERVER_TOKEN=postmark_server_token
CONTACT_TO_EMAIL=bonjour@boulangerie-du-kreisker.fr
CONTACT_FROM_EMAIL=site@boulangerie-du-kreisker.fr
